/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 120px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
}
body > .container {
  padding: 60px 15px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
#header {
  background: rgba(255, 255, 255, 0.9);
  height: 110px;
  line-height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;
}
#header #categories {
  height: 45px;
  background: #cccccc;
}
